In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(  {"groups" : ["A","B","C","A","B","C"],
                     "data": [10,11,41,31,55,30]}, columns=["groups","data"])

In [3]:
df

  groups  data
0      A    10
1      B    11
2      C    41
3      A    31
4      B    55
5      C    30

In [4]:
df.groupby("groups").mean()

        data
groups
A       20.5
B       33.0
C       35.5

In [5]:
import seaborn as sns

In [6]:
df1 = sns.load_dataset("planets")

In [7]:
df1.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [8]:
df1.groupby("method")["orbital_period"].mean()  #groups depend by groups and calculate mean of orbital period

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [9]:
df1.groupby("method").describe()

                              number                                           \
                               count      mean       std  min  25%  50%   75%
method
Astrometry                       2.0  1.000000  0.000000  1.0  1.0  1.0  1.00
Eclipse Timing Variations        9.0  1.666667  0.500000  1.0  1.0  2.0  2.00
Imaging                         38.0  1.315789  0.933035  1.0  1.0  1.0  1.00
Microlensing                    23.0  1.173913  0.387553  1.0  1.0  1.0  1.00
Orbital Brightness Modulation    3.0  1.666667  0.577350  1.0  1.5  2.0  2.00
Pulsar Timing                    5.0  2.200000  1.095445  1.0  1.0  3.0  3.00
Pulsation Timing Variations      1.0  1.000000       NaN  1.0  1.0  1.0  1.00
Radial Velocity                553.0  1.721519  1.157141  1.0  1.0  1.0  2.00
Transit                        397.0  1.954660  1.399119  1.0  1.0  1.0  2.00
Transit Timing Variations        4.0  2.250000  0.500000  2.0  2.0  2.0  2.25

                                   orbital_period                 ...  \
                               max          count           mean  ...
method                                                            ...
Astrometry                     1.0            2.0     631.180000  ...
Eclipse Timing Variations      2.0            9.0    4751.644444  ...
Imaging                        4.0           12.0  118247.737500  ...
Microlensing                   2.0            7.0    3153.571429  ...
Orbital Brightness Modulation  2.0            3.0       0.709307  ...
Pulsar Timing                  3.0            5.0    7343.021201  ...
Pulsation Timing Variations    1.0            1.0    1170.000000  ...
Radial Velocity                6.0          553.0     823.354680  ...
Transit                        7.0          397.0      21.102073  ...
Transit Timing Variations      3.0            3.0      79.783500  ...

                                distance            year               \
                                     75%      max  count         mean
method
Astrometry                       19.3225    20.77    2.0  2011.500000
Eclipse Timing Variations       500.0000   500.00    9.0  2010.000000
Imaging                         132.6975   165.00   38.0  2009.131579
Microlensing                   4747.5000  7720.00   23.0  2009.782609
Orbital Brightness Modulation  1180.0000  1180.00    3.0  2011.666667
Pulsar Timing                  1200.0000  1200.00    5.0  1998.400000
Pulsation Timing Variations          NaN      NaN    1.0  2007.000000
Radial Velocity                  59.2175   354.00  553.0  2007.518987
Transit                         650.0000  8500.00  397.0  2011.236776
Transit Timing Variations      1487.0000  2119.00    4.0  2012.500000

                                                                           \
                                    std     min      25%     50%      75%
method
Astrometry                     2.121320  2010.0  2010.75  2011.5  2012.25
Eclipse Timing Variations      1.414214  2008.0  2009.00  2010.0  2011.00
Imaging                        2.781901  2004.0  2008.00  2009.0  2011.00
Microlensing                   2.859697  2004.0  2008.00  2010.0  2012.00
Orbital Brightness Modulation  1.154701  2011.0  2011.00  2011.0  2012.00
Pulsar Timing                  8.384510  1992.0  1992.00  1994.0  2003.00
Pulsation Timing Variations         NaN  2007.0  2007.00  2007.0  2007.00
Radial Velocity                4.249052  1989.0  2005.00  2009.0  2011.00
Transit                        2.077867  2002.0  2010.00  2012.0  2013.00
Transit Timing Variations      1.290994  2011.0  2011.75  2012.5  2013.25


                                  max
method
Astrometry                     2013.0
Eclipse Timing Variations      2012.0
Imaging                        2013.0
Microlensing                   2013.0
Orbital Brightness Modulation  2013.0
Pulsar Timing                  2011.0
Pulsation Timing Variations    2007.0
Radial Velocity                2014.0
Transit                        2014.0
Transit Timing Variations      2014.0

[10 rows x 40 columns]

In [10]:
df1.groupby("method").aggregate({"distance":"min", "mass":"max"} )

                               distance   mass
method
Astrometry                        14.98    NaN
Eclipse Timing Variations        130.72   6.05
Imaging                            7.69    NaN
Microlensing                    1760.00    NaN
Orbital Brightness Modulation   1180.00    NaN
Pulsar Timing                   1200.00    NaN
Pulsation Timing Variations         NaN    NaN
Radial Velocity                    1.35  25.00
Transit                           38.00   1.47
Transit Timing Variations        339.00    NaN

In [11]:
df

  groups  data
0      A    10
1      B    11
2      C    41
3      A    31
4      B    55
5      C    30

In [15]:
df.groupby("groups").aggregate( {"data":"max", "data":"min", "data":"mean"} )

        data
groups
A       20.5
B       33.0
C       35.5